#toss {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
#coin {
  position: relative;
  width: 150px;
  height: 150px;
}
#coin img {
  left: 0;
  width: 100%;
  height: 100%;
}
.sideA,
.sideB {
  text-align: center;
}

#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
#coin img {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.sideA {
  z-index: 100;
}
.sideB {
  -webkit-transform: rotateX(-180deg);
}

#coin.heads {
  -webkit-animation: flipHeads 2s ease-out forwards;
  -moz-animation: flipHeads 2s ease-out forwards;
  -o-animation: flipHeads 2s ease-out forwards;
  animation: flipHeads 2s ease-out forwards;
}
#coin.tails {
  -webkit-animation: flipTails 2s ease-out forwards;
  -moz-animation: flipTails 2s ease-out forwards;
  -o-animation: flipTails 2s ease-out forwards;
  animation: flipTails 2s ease-out forwards;
}

@keyframes flipHeads {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }
  to {
    -webkit-transform: rotateX(540deg);
    -moz-transform: rotateX(540deg);
    transform: rotateX(540deg);
  }
}
@keyframes flipTails {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }
  to {
    -webkit-transform: rotateX(720deg);
    -moz-transform: rotateX(720deg);
    transform: rotateX(720deg);
  }
}
